# 1. Recomendado: Usar URI completa
# Formato: mysql://usuario:contraseña@host:puerto/nombre_db?ssl-mode=REQUIRED
DATABASE_URL=

# 2. Alternativo: Usar variables individuales (Las que tienes en Vercel)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=cine_db
DB_PORT=25560

# Claves de seguridad
SECRET_KEY=dev-secret-key-cinema-123
JWT_SECRET_KEY=dev-jwt-secret-key-cinema-456

